<a href="https://colab.research.google.com/github/bobi404/Scientific-Computing-LAB/blob/main/SC_Sesi1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

sesi 1

In [ ]:
print("halo")

halo

In [ ]:
import time
print(time.ctime())

Thu Feb  6 04:40:43 2025

In [ ]:
x = "Umur Saya"
y = 19
z = 180.5
a = ['Denpasar', 'Bali']

print(x, y, "tinggi saya", z, "saya berasal dari", a)

Umur Saya 19 tinggi saya 180.5 saya berasal dari ['Denpasar', 'Bali']

In [ ]:
a = int(1)
b = int(2.2)
c = int("51")
d = str(20)

print(a, b, c, d)

1 2 51 20

In [ ]:
a = "Hello"
b = " World"
c = a+b

print(c)

Hello World

In [ ]:
a = "Hello World"
print(a[1])

print(len(a))

e
11

In [ ]:
#slicing
b = "BINUS Univ"
print(b[2:5])
print(b[:5])
print(b[2:])

NUS
BINUS
NUS Univ

In [ ]:
a = "Hello"
print(a.upper())
print(a.lower())
print(a.replace("H", "J"))

HELLO
hello
Jello

In [ ]:
nama = "bobi"
x = 19
string = "nama saya {} umur saya {}"

print(string.format(nama, x))

nama saya bobi umur saya 19

In [ ]:
nama = "Janar"
for i in enumerate(nama):
  print(i)

(0, 'J')
(1, 'a')
(2, 'n')
(3, 'a')
(4, 'r')

In [ ]:
def perbandingan(a,b):
  if a > b:
    print("a lebih besar dari b")
  elif a < b:
    print("a lebih kecil dari b")
  else:
    print("a sama dengan b")
perbandingan(11,12)

a lebih kecil dari b

In [ ]:
i = 1
while i<6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 3
for i in range(i,6):
  print(i)

3
4
5

In [ ]:
i = 2
for i in range(i,41):
  if i % 2 == 0:
    print(i,"genap")
  elif i % 2 != 0:
    print(i,"ganjil")

2 genap
3 ganjil
4 genap
5 ganjil
6 genap
7 ganjil
8 genap
9 ganjil
10 genap
11 ganjil
12 genap
13 ganjil
14 genap
15 ganjil
16 genap
17 ganjil
18 genap
19 ganjil
20 genap
21 ganjil
22 genap
23 ganjil
24 genap
25 ganjil
26 genap
27 ganjil
28 genap
29 ganjil
30 genap
31 ganjil
32 genap
33 ganjil
34 genap
35 ganjil
36 genap
37 ganjil
38 genap
39 ganjil
40 genap

In [ ]:
import numpy as np

x = np.array([[1, 2, 3], [4, 5, 6]])

y = np.array([[3, 1, 2], [6, 4, 5]])

x+y

array([[ 4,  3,  5],
       [10,  9, 11]])

In [ ]:
data = np.array([10, 9, 8, 7, 6, 5])

print("rata-rata:", np.mean(data))
print("maksimum:", np.max(data))
print("minimum:", np.min(data))
print("standar deviasi:", np.std(data))

rata-rata: 7.5
maksimum: 10
minimum: 5
standar deviasi: 1.707825127659933

In [ ]:
def login():
    while True:
        username = input("Masukkan username: ")
        password = input("Masukkan password: ")
        if password == "Admin123":
            print("Login Berhasil!, Selamat datang", username)
            break
        else:
            print("Password salah.\n")

def calculate(UAS, UTS, ASG):
    return (UAS * 0.5) + (UTS * 0.3) + (ASG * 0.2)

def grading(total):
    if 90 <= total <= 100:
        return "A"
    elif 85 <= total < 90:
        return "A-"
    elif 80 <= total < 85:
        return "B+"
    elif 75 <= total < 80:
        return "B"
    elif 70 <= total < 75:
        return "B-"
    elif 65 <= total < 70:
        return "C"
    elif 60 <= total < 65:
        return "D"
    elif 11 <= total < 60:
        return "E"
    else:
        return "F"

def valid_score(prompt):
    while True:
        try:
            score = float(input(prompt))
            if 0 <= score <= 100:
                return score
            else:
                print("Invalid input. Tolong masukkan angka antara 0 sampai 100.")
        except ValueError:
            print("Invalid input. Tolong masukkan angka yang valid.")

def main():
    login()
    name = input("Masukkan nama siswa: ")
    UAS = valid_score("Masukkan nilai UAS (0-100): ")
    UTS = valid_score("Masukkan nilai UTS (0-100): ")
    ASG = valid_score("Masukkan nilai Assignment (0-100): ")

    final_score = calculate(UAS, UTS, ASG)
    grade = grading(final_score)

    print("\n============================================")
    print(f"Hasil perolehan nilai {name}")
    print(f"Final Score: {final_score:.1f}")
    print(f"Grade: {grade}")
    print("============================================")

if __name__ == "__main__":
    main()

Masukkan username: aouh
Masukkan password: Admin123
Login Berhasil!, Selamat datang aouh
Masukkan nama siswa: oauehf
Masukkan nilai UAS (0-100): 78
Masukkan nilai UTS (0-100): 100
Masukkan nilai Assignment (0-100): 98

============================================
Hasil perolehan nilai oauehf
Final Score: 88.6
Grade: A-
============================================